<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div>
    <%= form.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>

  <div>
    <%= form.text_field :director, class: "form-control", placeholder: "Director" %>
  </div>
<!--
  <div>
    <%= form.text_field :movie_length, class: "form-control", placeholder: "Movie length" %>
  </div>

  <div>
    <%= form.text_field :rating, class: "form-control", placeholder: "rating" %>
  </div>
-->

  <div>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-dark btn-sm"%>
  </div>
<% end %>
