<%= form_for [@movie, review] do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :comment, class: "form-control", placeholder: "Review" %>
  </div>

  <div class="field">
    <div id="star-rating"></div>
  </div>

  <div>
    <%= form.submit class: "btn btn-dark btn-sm mt-2" %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
