<!DOCTYPE html>
<html>
  <head>
    <title>Moviez</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-dark">
    <%= render "layouts/header" %>


    <div class="container">
      <% if notice %>
        <%= render "layouts/alerts" %>
      <% end %>

      <div class="bg-light mt-2 rounded-4 p-2">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
